

.App {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.left-navbar {
  flex: 1;
  padding: 20px;
}

.right-navbar {
  flex: 1;
  padding: 20px;
}


/* CSS for small screens (e.g., mobile) */
@media (max-width: 768px) {
  .left-sider {
    width: 100%; /* Take up the full width as the header */
    position: absolute;
    top: 0;
  }

  .right-sider {
    width: 100%; /* Take up the full width as the footer */
    position: absolute;
    bottom: 0;
  }
}



.bg{
  background-color: rgb(165, 255, 255)
}